{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
  <img src="{{i.img.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
      <a href="{% url 'movieapp:detail' i.id%}" class="btn btn-primary">VIEW DETAILS</a>
  </div>
</div>
        </div>
        {% endfor %}


    </div><br><br>
    <div style="float:right">
        <a class="btn btn-primary" href="{% url 'movieapp:add_movie' %}">ADD</a>
    </div>

</div>
{% endblock %}